
     * {
        margin: 0;
        padding: 0;
      }

 
      body {
         background: url(bg.jpg) 0px -70px fixed repeat-y;
         background-size: 100%;
         color: #fff;
         text-align: center;
         font-family: 'Roboto', sans-serif;
      }

      .selector {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      
      .container {
        width: 100%;
        padding-top: 30px;
        
      }
 
      .table {
        margin: 0 auto;
        padding: 10px;
        padding-bottom: 30px;
        table-layout: fixed;
      }
 
      tr {
        padding: 50px;
        margin: 20px;
      }
 
      td {
        padding: 10px;
        margin: 10px;
        border: 2px solid #000;
        /* background: #999999; */
        background: url(asphalt.jpg);
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        max-width: 250px;
        height: auto;
        word-wrap: break-word;
      }

 
      .button {
        background: #11749e;
        color: white;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        min-width: 70px;
        opacity: 0.8;
      }

      .button:hover {
        opacity: 1;
      }
 
      .green {
        background: green;
      }
 
      .red {
        background: red;
      }

      .short {
        min-width: 33px;
      }

      .active {
        background: #18aae7;
      }
 
      input[type='text'] {
        width: 180px;
        height: 20px;
        padding: 5px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
      }
 
      #counter {
        padding: 10px;
        font-size: 20px;
      }
 
 
     input[type='submit'], button, [aria-label]{
       cursor: pointer;
     }

     input[type='submit'], button {
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }

     .footer {
       width: 100%;
       margin: 0 auto;
       position: fixed;
       bottom: 0;
       left: 0;
       background: rgba(34,34,34,0.7);
     }
 
     .footer p {
       padding: 10px;
       color: gray;
     }

     .modal-content {
      display: none;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
     }

    .modal-banner {
      animation-name: animate;
      animation-duration: 0.5s;
      margin: 150px auto;
      /* background: #999999; */
      background: url(asphalt.jpg);
      height: 350px;
      width: 350px;
      border: 2px solid #000;
      box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    }

    .modal-body {
      margin-top: 90px;
    }

    .modal-body input {
      display: block;
      margin: 5px auto;
    }

    .close {
      position: relative;
      left: 155px;
      top: 10px;
    }

    .modal-caption {
      margin-top: 30px;
    }

    .modal-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 90px;
    }

    #modal-add .modal-footer, #modal-edit .modal-footer {
      margin-top: 50px;
    }

    #modal-add .modal-body, #modal-edit .modal-body {
      margin-top: 40px;
    }

    #pages {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    #pages input {
      margin: 3px;
    }

    #selectPage {
      margin-bottom: 100px;
    }

      @keyframes animate {
        from {opacity:0}
        to {opacity:1}
      }